*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  outline: 0;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-color: #fff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*! General  */

.page_title {
  margin-bottom: 5rem;
  font-size: 2.5rem;
}

.button {
  width: 100%;
  height: 5rem;
  font-size: 2rem;
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;

  display: flex;
  align-items: center;
  justify-content: center;
}

.button--main {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.form_input {
  width: 100%;
  height: 5rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
}

.footer {
  margin-top: 1rem;
  font-size: 1.4rem;
  color: rgb(122, 122, 122);
}

.footer span {
  color: #000;
  font-weight: 500;
  text-decoration: underline;
  cursor: pointer;
}

/*! Index */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 6rem;
  position: relative;

  width: 50rem;
  height: 70rem;

  border: 1px solid #000;
  border-radius: 10px;
}

/*!  Sign in */

.button--wrapper {
  width: 100%;
  padding: 0 6rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  position: absolute;
  bottom: 2rem;
}

/*! Dashboard */

.user-data {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.name {
  font-size: 1.8rem;
}

.email {
  font-size: 1.4rem;
  color: rgb(90, 90, 90);
}
